.App-container{
   text-align: center;
   margin-top: 20px;
   margin: 25px;
}

body{
   background-image: url(./imgs/planoDeFundo.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
}


.anime-list {
   display: grid;
   grid-template-columns: repeat(
     auto-fit,
     minmax(200px, 1fr)
   );
   list-style: none;
   grid-gap: 1.5rem;
   margin-top: 15px;
 }
 
 .anime-list img {
   max-width: 100%;
 }
 